{% extends "base.twig" %}
{% block title %}BreedsApp -Search Breeds
{% endblock %}
{% block brand %}BreedsApp -Search Breeds
{% endblock %}
{% block body %}
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 box-blue text-center">Search Form</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 jumbotron">
				<form class="form-horizontal" action="" method="POST" novalidate>
					<h1>Breeds Form</h1>
					<div class="form-group">
						<label class="control-label">Keyword:</label>
						<input class="form-control" value="" type="search" name="keyword" maxlength="30"/>
					</div>
					<br>
					<div class="form-group">
						<button class="btn btn-blue btn-block" type="submit" name="">Submit</button>
					</div>
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
{% endblock %}
