{% extends "base.twig" %}
{% block title %}
	Breeds App Home
{% endblock %}
{%
block brand %}Breeds App Home
{% endblock %}
{% block body %}
	<br/>
	<br/>
	<br/>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 box-blue text-center">Breeds App</div>
			<div class="col-md-2"></div>
		</div>
	</div>
{% endblock %}
